.cart {
    background-color: #1e1e1e;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    border-radius: 0.8rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    gap: 10px;
}

.cart h2 {
    color: #bb86fc;
    margin-bottom: 1rem;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #333;

}

.cart-item button {
    padding: 0.5rem 1rem;
    background-color: #bb86fc;
    color: #121212;
    font-weight: bold;
}


.cart-item button:hover {
    background-color: #03dac5;
}

.cart-item p {
    margin: 0;
    color: #e0e0e0;
}

.btns-container {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.cart-empty {
    padding: 0.5rem 1rem;
    background-color: #bb86fc;
    color: #121212;
    font-weight: bold;
}

.cart-empty:hover {
    background-color: #03dac5;
}

.cart-buy {
    padding: 0.5rem 1rem;
    background-color: #bb86fc;
    color: #121212;
    font-weight: bold;
}

.cart-buy:hover {
    background-color: #03dac5;
}


.empty-cart {
    background-color: #1e1e1e;
    color: #bb86fc;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 500px;
    margin: 3rem auto;
    text-align: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.empty-cart h2 {
    color: #bb86fc;
    margin-bottom: 1rem;
}


.empty-cart button {
    background-color: #bb86fc;
    color: #121212;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.empty-cart button:hover {
    background-color: #03dac5;
    color: #000;
}