.navbar {
  background-color: #1f1f1f;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  position: relative;
}

.logo {
  height: 300px;
  width: auto;
  object-fit: contain;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
}

.contenedor-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links {
  color: #e0e0e0;
  font-weight: 500;
}

.nav-links:hover {
  color: #bb86fc;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.8rem 1rem;
    /* Un poco menos padding en móvil */
    /* En móvil, queremos Logo | Toggle | CartWidget */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    height: 100px;
    margin-right: 0;
    order: 1;
  }

  .menu-toggle {
    display: block;
    order: 2;
    margin-left: auto;
    margin-right: 10px;
  }

  .cart-widget-container {
    margin-left: 0;
    order: 3;
  }


  .contenedor-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 95%;
    background-color: #1f1f1f;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 1000;

  }

  .contenedor-links.abierto {
    display: flex;
  
  }

  .contenedor-links li {
    margin-bottom: 1rem;
    width: 100%;
    
  }

  .contenedor-links li:last-child {
    margin-bottom: 0;

  }
}