.item-count {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.item-count button {
    padding: 0.5rem 1rem;
    background-color: #bb86fc;
    color: #121212;
    font-weight: bold;
}

.item-count button:hover {
    background-color: #03dac5;
}

.item-count p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e0e0e0;
}